<%- include("../00_include/app-include/_app-iframe-head.html") %>

  <div class="app-border-radius-list">
    <% const borderRadiusList = ['sm', 'md', 'lg', 'full'] %>
    <% for(var i=0 ; i < borderRadiusList.length; i++) { %>
    <!-- app-shadow-item -->
    <div class="app-preview-item">
      <div class="app-preview" style="border-radius:var(--radius-<%= borderRadiusList[i] %>);"></div>
      <div class="app-preview-value">var(--radius-<%= borderRadiusList[i] %>)</div>
    </div>
    <!-- // app-shadow-item -->
    <% } %>
  </div>

<%- include("../00_include/app-include/_app-iframe-foot.html") %>