<%- include('../00_include/app-include/_app-container-header.html', { documentTitle : 'Button Group', activeSubNav : 'button-group', bodyClass: 'app-view' }) %>

  <div class="app-button-group-list">
    <div class="app-preview-inner">
      <div class="btn-wrap">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap align-center">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>
      
      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap align-left">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn btn-sah"><span class="btn-label">확인</button>
      </div>
      
      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap">
        <button type="button" class="btn btn-full-width"><span class="btn-label">확인</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-wrap">
        <button type="button" class="btn btn-secondary btn-text"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>
    </div>
  </div>

  <%- include('../00_include/app-include/_app-container-footer.html') %>