<%- include("../00_include/app-include/_app-iframe-head.html") %>

  <div class="app-button-group-list">
    <div class="app-preview-inner">
      <div class="btn-wrap">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap align-center">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>
      
      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap align-left">
        <button type="button" class="btn btn-secondary btn-outlined"><span class="btn-label">취소</button>
        <button type="button" class="btn btn-sah"><span class="btn-label">확인</button>
      </div>
      
      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>

      <div class="btn-wrap">
        <button type="button" class="btn btn-full-width"><span class="btn-label">확인</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-wrap">
        <button type="button" class="btn btn-secondary btn-text"><span class="btn-label">취소</button>
        <button type="button" class="btn"><span class="btn-label">확인</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-group">
        <button type="button" class="btn"><span class="btn-label">LABEL 1</button>
        <button type="button" class="btn"><span class="btn-label">LABEL 2</button>
        <button type="button" class="btn"><span class="btn-label">LABEL 3</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-group align-center">
        <button type="button" class="btn btn-size-xs"><span class="btn-label">LABEL 1</button>
        <button type="button" class="btn btn-size-xs"><span class="btn-label">LABEL 2</button>
        <button type="button" class="btn btn-size-xs"><span class="btn-label">LABEL 3</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-group align-right">
        <button type="button" class="btn btn-size-lg"><span class="btn-label">LABEL 1</button>
        <button type="button" class="btn btn-size-lg"><span class="btn-label">LABEL 2</button>
        <button type="button" class="btn btn-size-lg"><span class="btn-label">LABEL 3</button>
      </div>

      <div style="margin: 20px 0;height:1px;background-color:var(--color-contrast-lower);"></div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-outlined"><span class="btn-label">LABEL 1</button>
        <button type="button" class="btn btn-outlined"><span class="btn-label">LABEL 2</button>
        <button type="button" class="btn btn-outlined"><span class="btn-label">LABEL 3</button>
      </div>
    </div>
  </div>

<%- include("../00_include/app-include/_app-iframe-foot.html") %>