<%- include('../00_include/app-include/_app-container-header.html', { documentTitle : 'Heading', activeSubNav : 'heading', bodyClass: 'app-view' }) %>

  <!-- app-heading-list -->
  <div class="app-typography-list">
    <div class="app-preview-item">
      <h1>모든 인류 구성원의 천부의 존엄성과 동등하고 양도할 수 없는 권리를 인정하는</h1>
      <div class="app-preview-value">h1</div>
    </div>
    <div class="app-preview-item">
      <h2>모든 인류 구성원의 천부의 존엄성과 동등하고 양도할 수 없는 권리를 인정하는</h2>
      <div class="app-preview-value">h2</div>
    </div>
    <div class="app-preview-item">
      <h3>모든 인류 구성원의 천부의 존엄성과 동등하고 양도할 수 없는 권리를 인정하는</h3>
      <div class="app-preview-value">h3</div>
    </div>
    <div class="app-preview-item">
      <h4>모든 인류 구성원의 천부의 존엄성과 동등하고 양도할 수 없는 권리를 인정하는</h4>
      <div class="app-preview-value">h4</div>
    </div>
    <div class="app-preview-item">
      <p>모든 인류 구성원의 천부의 존엄성과 동등하고 양도할 수 없는 권리를 인정하는</p>
      <div class="app-preview-value">default</div>
    </div>
  </div>
  <!-- // app-heading-list -->

  <%- include('../00_include/app-include/_app-container-footer.html') %>